.features {
	background-color: #D9D9D9;
	background-size: 50%;
	padding: 15px 20px;
	background-position: relative;
	border-radius: 5px;
	color: #959595;
	font-weight: regular;
	font-family: "roboto", sans-serif;
}